# Featrue Egineering Excercieses With house.csv dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt

In [2]:
# Read data.
house = pd.read_csv("house.csv", index_col = 0)

In [3]:
# Let's see data.
house.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# Let's examine the object types.

house.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [5]:
# When we look at the explanations, MSSubClass column must be of object type.

house.MSSubClass = house.MSSubClass.astype("str")

In [6]:
house.dtypes

MSSubClass        object
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [7]:
#Let's check for null expressions in the data set.

house.isnull()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1457,False,False,False,False,False,True,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
1458,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1460,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False

In [8]:
# Let's check the number of null values in the data set.

house.isnull().sum().sum()

7829

In [9]:
# Let's find the percentage of missing data in the columns.

missing_percent = house.isnull().mean()
missing_percent

MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
Street           0.000000
                   ...
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 80, dtype: float64

In [10]:
# Return missing data more than 0.1

drop_cols = missing_percent[missing_percent > 0.1].index
drop_cols

Index(['LotFrontage', 'Alley', 'MasVnrType', 'FireplaceQu', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [11]:
# Let's delete columns with more than 10% missing data.

df_drop_cols = house.drop(drop_cols, axis = 1)

In [12]:
# let's see the shape
df_drop_cols.shape

(1460, 73)

In [13]:
# We check again if there is a null value.
df_drop_cols.isnull().sum().sum()

601

In [14]:
# We delete the Na datas from the file.

df_without_na = df_drop_cols.dropna()

In [15]:
# let's see the shape

df_without_na.shape

(1338, 73)

In [16]:
# We check again if there is a null value. 

df_without_na.isnull().sum().sum()

0

In [17]:
# Machine learning models prefer to process numerical data.
# We use the get_dummies() function to convert categorical variables to numeric data.

df_without_na_dummy = pd.get_dummies(df_without_na, drop_first = True)

In [18]:
# let's examine data shape.

df_without_na_dummy.shape

(1338, 237)

In [19]:
# To use the LinearRegression model.
from sklearn.linear_model import LinearRegression

# To look at the r2 score.
from sklearn.metrics import r2_score

# To do train_test_split.
from sklearn.model_selection import train_test_split, cross_val_score

# We determine the dependent and independent variables.
X = df_without_na_dummy.drop("SalePrice", axis = 1)
y = df_without_na_dummy["SalePrice"]


# We determine the ratio of train and test data.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)


mdl = LinearRegression()
mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)



results = pd.DataFrame([], columns = ["r2 mean", "r2 std", "r2 test"])

results.loc["Without NA"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

             r2 mean    r2 std   r2 test
Without NA  0.548538  0.568624  0.373218

In [20]:
missing_percent = df_drop_cols.isnull().mean()

In [21]:
missing_percent[missing_percent > 0.1]

Series([], dtype: float64)

In [22]:
# When we examine the explanations, we see that the empty values
# actually indicate that there is no such feature.
df_drop_cols.MasVnrArea = df_drop_cols.MasVnrArea.fillna(0)
df_drop_cols.BsmtQual = df_drop_cols.BsmtQual.fillna("None")
df_drop_cols.BsmtCond = df_drop_cols.BsmtCond.fillna("None")
df_drop_cols.BsmtExposure = df_drop_cols.BsmtExposure.fillna("None")
df_drop_cols.BsmtFinType1 = df_drop_cols.BsmtFinType1.fillna("None")
df_drop_cols.BsmtFinType2 = df_drop_cols.BsmtFinType2.fillna("None")
df_drop_cols.Electrical = df_drop_cols.Electrical.fillna("None")
df_drop_cols.GarageType = df_drop_cols.GarageType.fillna("None")
df_drop_cols.GarageYrBlt = df_drop_cols.GarageYrBlt.fillna(0)
df_drop_cols.GarageFinish = df_drop_cols.GarageFinish.fillna("None")
df_drop_cols.GarageQual = df_drop_cols.GarageQual.fillna("None")
df_drop_cols.GarageCond = df_drop_cols.GarageCond.fillna("None")

In [23]:
# Rebuild the model.

df_drop_cols_dummy = pd.get_dummies(df_drop_cols, drop_first = True)
print(df_drop_cols_dummy.shape)

X = df_drop_cols_dummy.drop("SalePrice", axis = 1)
y = df_drop_cols_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, 
                                                    random_state = 42)

mdl = LinearRegression()

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

results.loc["Fill None"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 252)

             r2 mean    r2 std   r2 test
Without NA  0.548538  0.568624  0.373218
Fill None   0.591975  0.416633  0.642582

In [24]:
# Continue the analysis by copying the data

df_new = df_drop_cols.copy()

In [25]:
cat_cols = [col for col in df_new.columns if df_new[col].dtype == "O"]
cat_cols

['MSSubClass',
 'MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [26]:
#There are ordinal data in the house.csv

def ordinal_category(col):

    """""""""""""""""
    This function detects ordinal data and assigns them values between 0 - 5.
    
    input -> string/ object
    output -> integer

    """""""""""""""""
    
    if col.isin(["Fa", "TA"," Gd", "Ex"]).any():
        return col.replace({"Fa":2, "TA" : 3, "Gd" : 4, "Ex" : 5, "Po" : 1, "None" : 0})
    else:
        return col
df_new[cat_cols] = df_new[cat_cols].apply(ordinal_category)

In [27]:
# Check data.

df_new.GarageCond.value_counts()

GarageCond
3    1326
0      81
2      35
4       9
1       7
5       2
Name: count, dtype: int64

In [28]:
# Check data.

df_new.GarageQual.value_counts()

GarageQual
3    1311
0      81
2      48
4      14
5       3
1       3
Name: count, dtype: int64

In [29]:
# Reanalysis after ordinal data transformation.

from sklearn.model_selection import cross_val_score
df_new_dummy = pd.get_dummies(df_new, drop_first = True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)

mdl = LinearRegression()
mdl.fit(X_train , y_train)
ypred = mdl.predict(X_test)


scores = cross_val_score(mdl, X_train, y_train, cv = 10)


results.loc["Ordinal Value Model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 228)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746

In [30]:
df_new.MSSubClass.value_counts()

MSSubClass
20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: count, dtype: int64

In [31]:
category_percent = df_new.MSSubClass.value_counts() / len(df_new)
category_percent

MSSubClass
20     0.367123
60     0.204795
50     0.098630
120    0.059589
30     0.047260
160    0.043151
70     0.041096
80     0.039726
90     0.035616
190    0.020548
85     0.013699
75     0.010959
45     0.008219
180    0.006849
40     0.002740
Name: count, dtype: float64

In [36]:

def merge_category(col):

    """""""""""""""""""""

    This function examines the object type filling and combines data less than 0.01.

    input -> string/ object
    output -> string /object


    """""""""""""""""""""
    
    category_percent = col.value_counts() / len(col)
    category = list(category_percent[category_percent < 0.01].index)
    if len(category) > 1:
        return col.replace(category, "Other")

    return col

df_new[cat_cols] = df_new[cat_cols].apply(merge_category)

In [37]:
# Analyze again after combining the data.

df_new_dummy = pd.get_dummies(df_new, drop_first = True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl = LinearRegression()

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)

results.loc["Other Value Model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1460, 186)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746
Other Value Model    0.786433  0.147645  0.862914

# Feature Selection Methods

## Varians Treshold

> The greater the variance within a variable, the more data it carries.

In [38]:
from sklearn.feature_selection import VarianceThreshold

df_new_dummy = pd.get_dummies(df_new, drop_first = True)


X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)

# Those whose variance is below 0.01 will not be accepted.
selector = VarianceThreshold(0.01)

# Calculates the variance of all columns
selector.fit(X_train)

X_train_new = selector.transform(X_train)
X_test_new = selector.transform(X_test)

print(X_train_new.shape)

mdl = LinearRegression()

mdl.fit(X_train_new, y_train)
ypred = mdl.predict(X_test_new)
scores = cross_val_score(mdl, X_train_new, y_train, cv = 10)

results.loc["Variance Treshold"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1168, 172)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746
Other Value Model    0.786433  0.147645  0.862914
Variance Treshold    0.798454  0.136951  0.866326

## Select K-Best

> Select best 100 values.

In [39]:
from sklearn.feature_selection import SelectKBest, f_regression


# to see the 100 most important variables.
selector = SelectKBest(f_regression, k = 100)

selector.fit(X_train, y_train)

# to see scores.
#selector.scores_


#Let's see it as pandas series.
fstats = pd.Series(selector.scores_, index = X_train.columns)

# Sorting best values.
fstats = fstats.sort_values(ascending = False)
k = 100


# To see best columns.
best_cols = fstats[:k].index

print(best_cols)

Index(['OverallQual', 'GrLivArea', 'ExterQual', 'KitchenQual', 'GarageCars',
       'GarageArea', 'TotalBsmtSF', 'BsmtQual', '1stFlrSF', 'FullBath',
       'TotRmsAbvGrd', 'YearBuilt', 'YearRemodAdd', 'Foundation_PConc',
       'MasVnrArea', 'Fireplaces', 'HeatingQC', 'BsmtFinType1_GLQ',
       'GarageFinish_Unf', 'Neighborhood_NridgHt', 'MSSubClass_60',
       'BsmtFinSF1', 'GarageType_Detchd', 'Foundation_CBlock',
       'SaleCondition_Partial', 'SaleType_New', 'WoodDeckSF', '2ndFlrSF',
       'Neighborhood_NoRidge', 'Exterior2nd_VinylSd', 'Exterior1st_VinylSd',
       'OpenPorchSF', 'HalfBath', 'MSZoning_RM', 'GarageCond_3', 'GarageYrBlt',
       'BsmtExposure_No', 'CentralAir_Y', 'LotArea', 'BsmtExposure_Gd',
       'LotShape_Reg', 'GarageFinish_None', 'GarageType_None', 'GarageQual_3',
       'HouseStyle_2Story', 'RoofStyle_Hip', 'Electrical_SBrkr',
       'MSSubClass_30', 'GarageType_BuiltIn', 'PavedDrive_Y', 'BsmtFullBath',
       'MSZoning_RL', 'BsmtUnfSF', 'SaleType_WD', 'BsmtCond',
       'Neighborhood_StoneBr', 'Neighborhood_Edwards', 'Neighborhood_NAmes',
       'Neighborhood_OldTown', 'Exterior1st_MetalSd', 'GarageFinish_RFn',
       'MSSubClass_50', 'Exterior1st_Wd Sdng', 'Exterior2nd_MetalSd',
       'Exterior2nd_Wd Sdng', 'SaleCondition_Normal', 'BedroomAbvGr',
       'BsmtFinType2_None', 'BsmtFinType1_None', 'BsmtExposure_None',
       'Neighborhood_BrkSide', 'LotConfig_CulDSac', 'EnclosedPorch',
       'Exterior1st_CemntBd', 'Neighborhood_IDOTRR', 'Neighborhood_Somerst',
       'LandContour_HLS', 'KitchenAbvGr', 'Exterior2nd_CmentBd',
       'LotShape_IR2', 'Electrical_FuseF', 'BsmtFinType1_Rec',
       'Neighborhood_Sawyer', 'BsmtFinType1_BLQ', 'GarageQual_2',
       'Foundation_Slab', 'GarageCond_2', 'Heating_Other', 'Condition1_Feedr',
       'Functional_Typ', 'ScreenPorch', 'MSSubClass_160', 'PoolArea',
       'ExterCond_3', 'MSSubClass_90', 'BldgType_Duplex',
       'Exterior1st_HdBoard', 'Neighborhood_Timber', 'Neighborhood_BrDale',
       'BldgType_2fmCon'],
      dtype='object')

In [40]:
# Rebuilding model.

scores = pd.Series(selector.scores_, index = X_train.columns)
scores = scores.sort_values(ascending = False)

X_train_new = selector.transform(X_train)
X_test_new = selector.transform(X_test)


print(X_train_new.shape)

mdl = LinearRegression()

mdl.fit(X_train_new , y_train)
ypred = mdl.predict(X_test_new)
scores = cross_val_score(mdl, X_train_new, y_train, cv = 10)


results.loc["Select K-Best"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1168, 100)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746
Other Value Model    0.786433  0.147645  0.862914
Variance Treshold    0.798454  0.136951  0.866326
Select K-Best        0.802858  0.131184  0.863129

## Recursive Feature Elemination

> Calculate the importance of each feature using the feature importance calculation ability of your chosen model. Removes the least important feature from the dataset.

In [41]:

from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor


# Define model 
# Continue eliminating up to 100 variable.
selector = RFE(DecisionTreeRegressor(), n_features_to_select = 100)

selector.fit(X_train, y_train)

# According to DecisionTreeRegressor() best 100 columns.
ranks = pd.Series(selector.ranking_, index = X_train.columns)
ranks = ranks.sort_values()
ranks

LotArea                 1
Exterior2nd_Wd Sdng     1
Exterior2nd_VinylSd     1
Exterior2nd_Plywood     1
Exterior2nd_MetalSd     1
                       ..
MSSubClass_80          82
MSSubClass_160         83
MiscVal                84
MSZoning_FV            85
LotShape_IR2           86
Length: 185, dtype: int32

In [42]:
X_train_new = selector.transform(X_train)
X_test_new = selector.transform(X_test)

print(X_train_new.shape)

mdl = LinearRegression()

mdl.fit(X_train_new , y_train)
ypred = mdl.predict(X_test_new)
scores = cross_val_score(mdl, X_train_new, y_train, cv = 10)


results.loc["RFE model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

(1168, 100)

                      r2 mean    r2 std   r2 test
Without NA           0.548538  0.568624  0.373218
Fill None            0.591975  0.416633  0.642582
Ordinal Value Model  0.598759  0.384457  0.653746
Other Value Model    0.786433  0.147645  0.862914
Variance Treshold    0.798454  0.136951  0.866326
Select K-Best        0.802858  0.131184  0.863129
RFE model            0.808657  0.120899  0.853215

## Embended Importnaces Method

> The model analyzes the importance of each feature when making predictions.
Based on these analyses, the model assigns each feature an “importance score,” which indicates the feature's contribution to the model's performance.

In [55]:
df_new_dummy = pd.get_dummies(df_new, drop_first = True)


X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=42)

dt = DecisionTreeRegressor()

dt.fit(X_train, y_train)

# In order to apply  dt.feature_importances_ is used
scores = pd.Series(dt.feature_importances_, index = X_train.columns)

# Sorting values.
scores = scores.sort_values(ascending = False)
best_cols = scores[:100].index
best_cols

Index(['OverallQual', 'GrLivArea', 'TotalBsmtSF', '2ndFlrSF', 'BsmtFinSF1',
       '1stFlrSF', 'GarageYrBlt', 'YearBuilt', 'GarageArea',
       'GarageType_Detchd', 'OverallCond', 'GarageCars', 'CentralAir_Y',
       'MoSold', 'Fireplaces', 'LotArea', 'BsmtExposure_Gd', 'OpenPorchSF',
       'HeatingQC', 'BsmtExposure_No', 'WoodDeckSF', 'KitchenQual',
       'BsmtUnfSF', 'TotRmsAbvGrd', 'BedroomAbvGr', 'ExterQual',
       'Functional_Typ', 'MasVnrArea', 'Exterior2nd_VinylSd', 'LandSlope_Mod',
       'Functional_Other', 'BsmtFullBath', 'Neighborhood_Crawfor',
       'YearRemodAdd', 'Exterior1st_HdBoard', 'EnclosedPorch',
       'LandContour_Lvl', 'ScreenPorch', 'Foundation_CBlock',
       'LandContour_HLS', 'GarageFinish_RFn', 'BsmtCond',
       'Neighborhood_CollgCr', 'YrSold', 'Exterior1st_Wd Sdng',
       'Condition1_Other', 'HalfBath', 'MSSubClass_160', 'GarageFinish_Unf',
       'LotConfig_FR2', 'KitchenAbvGr', 'MSSubClass_20', 'BsmtFinType1_GLQ',
       'Exterior2nd_HdBoard', 'BsmtFinType1_Rec', 'Neighborhood_SWISU',
       'Electrical_SBrkr', 'Condition1_RRAn', 'LotConfig_Inside',
       'MSZoning_RH', 'LotConfig_CulDSac', 'Neighborhood_Timber',
       'Exterior2nd_Wd Shng', 'GarageCond_3', 'RoofStyle_Hip', 'LotShape_Reg',
       'RoofStyle_Other', 'Condition1_Norm', 'Exterior2nd_Wd Sdng',
       'SaleCondition_Family', 'Exterior1st_CemntBd', 'Neighborhood_Edwards',
       'SaleType_WD', 'BsmtFinType1_BLQ', 'SaleCondition_Normal',
       'BsmtFinType1_Unf', 'PavedDrive_P', 'HouseStyle_1Story', 'BsmtQual',
       'FullBath', 'MSZoning_RM', 'MSSubClass_50', 'Neighborhood_Sawyer',
       'ExterCond_4', 'GarageQual_3', 'HouseStyle_2Story', 'PavedDrive_Y',
       'SaleType_New', 'Neighborhood_NAmes', 'Foundation_Slab',
       'Exterior2nd_Plywood', 'MSZoning_RL', 'MSSubClass_80', 'LowQualFinSF',
       'BsmtFinType1_LwQ', 'MSSubClass_60', 'Exterior1st_Plywood',
       'Exterior1st_MetalSd', 'ExterCond_3', 'GarageType_BuiltIn'],
      dtype='object')

In [56]:

# rebuilding models.
X_train_new = X_train[best_cols]
X_test_new = X_test[best_cols]

mdl = LinearRegression()

mdl.fit(X_train_new , y_train)
ypred = mdl.predict(X_test_new)
scores = cross_val_score(mdl, X_train_new, y_train, cv = 10)


results.loc["Embended importances"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

                       r2 mean    r2 std   r2 test
Without NA            0.548538  0.568624  0.373218
Fill None             0.591975  0.416633  0.642582
Ordinal Value Model   0.598759  0.384457  0.653746
Other Value Model     0.786433  0.147645  0.862914
Variance Treshold     0.798454  0.136951  0.866326
Select K-Best         0.802858  0.131184  0.863129
RFE model             0.808657  0.120899  0.853215
Embended importances  0.798963  0.137509  0.859953
PCA Model             0.801481  0.143666  0.865689

## PCA

In [57]:
from sklearn.decomposition import PCA
pca = PCA(n_components=100)

pca.fit(X_train)

X_train_new = pca.transform(X_train)
X_test_new = pca.transform(X_test)

mdl = LinearRegression()

mdl.fit(X_train_new , y_train)
ypred = mdl.predict(X_test_new)
scores = cross_val_score(mdl, X_train_new, y_train, cv = 10)

results.loc["PCA Model"] = [scores.mean(), scores.std(), r2_score(y_test, ypred)]
results

                       r2 mean    r2 std   r2 test
Without NA            0.548538  0.568624  0.373218
Fill None             0.591975  0.416633  0.642582
Ordinal Value Model   0.598759  0.384457  0.653746
Other Value Model     0.786433  0.147645  0.862914
Variance Treshold     0.798454  0.136951  0.866326
Select K-Best         0.802858  0.131184  0.863129
RFE model             0.808657  0.120899  0.853215
Embended importances  0.798963  0.137509  0.859953
PCA Model             0.801215  0.144350  0.864091